@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #1a1c1d;
  --background-start-rgb: #D6DBDC;
  --background-end: #DFE0DF;
  --primary: #FDBA74;
  --secondary: #00B0A6;
  --tertiary: #AB7BE7;
  --dark: #1a1c1d;
  --medium: #424646;
  --light: #cecece;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #DFE0DF;
    --background-start: #424646;
    --background-end: #1a1c1d;
    --primary: #FDBA74;
    --secondary: #00B0A6;
    --tertiary: #AB7BE7;
    --dark: #cecece;
    --medium: #424646;
    --light: #1a1c1d;
  }
}

:root .dark {
  --foreground: #DFE0DF;
  --background-start: #424646;
  --background-end: #1a1c1d;
  --primary: #FDBA74;
  --secondary: #00B0A6;
  --tertiary: #AB7BE7;
  --dark: #cecece;
  --medium: #424646;
  --light: #1a1c1d;
}

body {
  color: var(--foreground);
  background: linear-gradient(
      to bottom,
      transparent,
      var(--background-end)
    )
    var(--background-start);
}
